<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yi.mapper.BoardMapper">
	<insert id="insert">
		insert into board (title, content, writer)
		values (#{title}, #{content}, #{writer})
	</insert>
	
	<select id="read" resultType="Board">
		select *
		from board
		where bno = #{bno}
	</select>
	
	<update id="update">
		update board
		set title = #{title}, content = #{content}
		where bno = #{bno}
	</update>
	
	<delete id="delete">
		delete
		from board
		where bno = #{bno}
	</delete>
	
	<select id="listAll" resultType="Board">
		select *
		from board
		order by bno desc
	</select>
	
	<select id="listPage" resultType="Board">
		select *
		from board
		order by bno desc
		limit #{page}, 10
	</select>
	
	<select id="listCriteria" resultType="Board">
		select *
		from board
		order by bno desc
		limit #{pageStart}, #{perPageNum}
	</select>
	
	<select id="totalCount" resultType="int">
		select count(bno)
		from tbl_board
	</select>
	
	<sql id="search">
		<if test="searchType=='t'.toString()">
			where title like CONCAT('%', #{keyword}, '%')
		</if>
		<if test="searchType=='c'.toString()">
			where content like CONCAT('%', #{keyword}, '%')
		</if>
		<if test="searchType=='w'.toString()">
			where writer like CONCAT('%', #{keyword}, '%')
		</if>
		<if test="searchType=='tc'.toString()">
			where title like CONCAT('%', #{keyword}, '%') OR content like CONCAT('%', #{keyword}, '%')
		</if>
		<if test="searchType=='cw'.toString()">
			where content like CONCAT('%', #{keyword}, '%') OR writer like CONCAT('%', #{keyword}, '%')
		</if>
		<if test="searchType=='tcw'.toString()">
			where title like CONCAT('%', #{keyword}, '%') OR content like CONCAT('%', #{keyword}, '%') OR where writer like CONCAT('%', #{keyword}, '%')
		</if>
	</sql>
	
	<select id="listSearch" resultType="Board">
		select *
		from board
		<include refid="search" />
		order by bno desc
		limit #{pageStart}, #{perPageNum}
	</select>
	
	<select id="searchTotalCount" resultType="int">
		select count(bno)
		from tbl_board
		<include refid="search" />
	</select>
	
	<update id="updateReplyCnt">
		update board
		set replycnt = replycnt + #{amount}
		where bno = #{bno}
	</update>
	
	<insert id="addAttach">
		insert into attach(fullname, bno)
		values (#{fullname}, LAST_INSERT_ID())
	</insert>
	
	<select id="getAttach" resultType="String">
		select fullname
		from tbl_attach
		where bno = #{bno}
		order by regdate
	</select>
	
	<delete id="delAttach">
		delete
		from attach
		where bno = #{bno}
	</delete>
	
	<delete id="delAttachByFullName">
		delete
		from attach
		where bno = #{bno} and fullname = #{fullname}
	</delete>
	
	<insert id="addAttachByBno">
		insert into attach(fullname, bno)
		values (#{fullname}, ${bno})
	</insert>
</mapper>