<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yi.mapper.BoardMapper">
	<resultMap type="Board" id="BoardResult">
		<id property="bno" column="bno"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="regdate" column="regdate"/>
		<result property="moddate" column="moddate"/>
		<result property="viewcnt" column="viewcnt"/>
		<result property="replycnt" column="replycnt"/>
		
		<result property="member.mno" column="mno"/>
		<result property="member.id" column="id"/>
		<result property="member.pw" column="pw"/>
		<result property="member.name" column="name"/>
		<result property="member.email" column="email"/>
		<result property="member.admin" column="admin"/>
	</resultMap>

	<insert id="insert">
		insert into board (mno, title, content, regdate, moddate, viewcnt, replycnt)
		values (#{member.mno}, #{title}, #{content}, now(), now(), 0, 0);
	</insert>
	
	<select id="read" resultMap="BoardResult">
		select *
		from board
		where bno = #{bno}
	</select>
	
	<update id="update">
		update board
		set title = #{title}, content = #{content}, moddate = now()
		where bno = #{bno}
	</update>
	
	<delete id="delete">
		delete
		from board
		where bno = #{bno}
	</delete>
	
	<select id="listAll" resultMap="BoardResult">
		select *
		from board
		order by bno desc
	</select>
	
	<select id="listPage" resultMap="BoardResult">
		select *
		from board
		order by bno desc
		limit #{page}, 10
	</select>
	
	<select id="listCriteria" resultMap="BoardResult">
		select *
		from board
		order by bno desc
		limit #{pageStart}, #{perPageNum}
	</select>
	
	<select id="totalCount" resultType="int">
		select count(bno)
		from board
	</select>
	
	<sql id="search">
		<if test="searchType=='t'.toString()">
			where title like CONCAT('%', #{keyword}, '%')
		</if>
		<if test="searchType=='c'.toString()">
			where content like CONCAT('%', #{keyword}, '%')
		</if>
		<if test="searchType=='w'.toString()">
			where writer like CONCAT('%', #{keyword}, '%')
		</if>
		<if test="searchType=='tc'.toString()">
			where title like CONCAT('%', #{keyword}, '%') OR content like CONCAT('%', #{keyword}, '%')
		</if>
		<if test="searchType=='cw'.toString()">
			where content like CONCAT('%', #{keyword}, '%') OR writer like CONCAT('%', #{keyword}, '%')
		</if>
		<if test="searchType=='tcw'.toString()">
			where title like CONCAT('%', #{keyword}, '%') OR content like CONCAT('%', #{keyword}, '%') OR where writer like CONCAT('%', #{keyword}, '%')
		</if>
	</sql>
	
	<select id="listSearch" resultMap="BoardResult">
		select *
		from board
		<include refid="search" />
		order by bno desc
		limit #{pageStart}, #{perPageNum}
	</select>
	
	<select id="searchTotalCount" resultType="int">
		select count(bno)
		from board
		<include refid="search" />
	</select>
	
	<update id="updateReplyCnt">
		update board
		set replycnt = replycnt + #{amount}
		where bno = #{bno}
	</update>
	
	<insert id="addAttach">
		insert into attach(file, bno)
		values (#{file}, LAST_INSERT_ID())
	</insert>
	
	<select id="getAttach" resultType="String">
		select file
		from tbl_attach
		where bno = #{bno}
		order by regdate
	</select>
	
	<delete id="delAttach">
		delete
		from attach
		where bno = #{bno}
	</delete>
	
	<delete id="delAttachByFullName">
		delete
		from attach
		where bno = #{bno} and file = #{file}
	</delete>
	
	<insert id="addAttachByBno">
		insert into attach(file, bno)
		values (#{file}, ${bno})
	</insert>
</mapper>