<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yi.mapper.ExerciseMapper">
	<insert id="insert">
		insert into exercise (part, name, link)
		values (#{part}, #{name}, #{link})
	</insert>
	
	<update id="update">
		update exercise
		set part = #{part},
			name = #{name},
			link = #{link}
		where eno = #{eno}
	</update>
	
	<delete id="delete">
		delete
		from exercise
		where eno = #{eno}
	</delete>
	
	<select id="selectByAll" resultType="Exercise">
		select *
		from exercise
	</select>

	<select id="selectByEno" resultType="Exercise">
		select *
		from exercise
		where eno = #{eno}
	</select>

	<select id="selectByPart" resultType="Exercise">
		select *
		from exercise
		where part = #{part}
	</select>
	
	<select id="selectPartByPart" resultType="String">
		select part
		from exercise
		group by part
	</select>
</mapper>