<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yi.mapper.PlanListMapper">
	<resultMap type="PlanList" id="PlanListResult">
		<result property="setcnt" column="setcnt" />
		<result property="exec" column="exec" />
		<result property="plan.pno" column="pno" />
		<result property="plan.title" column="title" />
		<result property="plan.startdate" column="startdate" />
		<result property="plan.enddate" column="enddate" />
		<result property="plan.exec" column="exec" />
		<result property="exercise.eno" column="eno" />
		<result property="exercise.part" column="part" />
		<result property="exercise.name" column="name" />
		<result property="exercise.link" column="link" />
	</resultMap>
	
	<insert id="insertPlanList">
		insert plan_list (pno, eno, setcnt, exec)
		values (#{plan.pno}, #{exercise.eno}, #{setcnt}, false)
	</insert>
	
	<select id="selectByPno" resultMap="PlanListResult">
		select p.pno, p.mno, p.title, p.startdate, p.enddate, p.exec, e.name, e.link, pl.setcnt, pl.exec
		from plan_list as pl
		join plan as p on p.pno = pl.pno
		join exercise as e on e.eno = pl.eno
		where p.pno = #{pno}
	</select>
</mapper>