<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yi.mapper.PlanMapper">
	<resultMap type="plan" id="PlanResult">
		<id property="pno" column="pno" />
		<result property="title" column="title" />
		<result property="setcnt" column="setcnt" />
		<result property="startdate" column="startdate" />
		<result property="enddate" column="enddate" />
		<result property="exec" column="exec" />
		
		<result property="member.mno" column="mno" />
		<result property="member.id" column="id" />
		<result property="member.pw" column="pw" />
		<result property="member.name" column="name" />
		<result property="member.eamil" column="eamil" />
		<result property="member.admin" column="admin" />
	</resultMap>
	
	<insert id="insert">
		insert into plan (mno, title, startdate, enddate, exec)
		values (#{member.mno}, #{title}, #{startdate}, #{enddate}, false)
	</insert>
	
	<update id="update">
		update plan
		set title = #{title},
			startDate = #{startDate},
			endDate = #{endDate}
		where pno = #{pno}
	</update>
	
	<delete id="delete">
		delete
		from plan
		where pno = #{pno}
	</delete>
	
	<select id="selectByPno" resultMap="PlanResult">
		select *
		from plan as p
		join member as m on m.mno = p.mno
		where pno = #{pno}
	</select>
	
	<select id="selectByAll"  resultMap="PlanResult">
		select *
		from plan as p
		join member as m on m.mno = p.mno
		where mno = #{mno}
	</select>
</mapper>