<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yi.mapper.PlanMapper">
	<resultMap type="plan" id="PlanResult">
		<id property="pno" column="pno" />
		<result property="title" column="title" />
		
		<result property="member.mno" column="mno" />
		<result property="member.id" column="id" />
		<result property="member.pw" column="pw" />
		<result property="member.name" column="name" />
		<result property="member.email" column="email" />
		<result property="member.admin" column="admin" />
	</resultMap>

	<resultMap type="planList" id="PlanListResult">
		<result property="setcnt" column="setcnt" />
		<result property="exec" column="exec" />
		
		<result property="plan.pno" column="pno" />
		<result property="plan.title" column="title" />
		
		<result property="exercise.eno" column="eno" />
		<result property="exercise.part" column="part" />
		<result property="exercise.name" column="name" />
		<result property="exercise.link" column="link" />
	</resultMap>
	
	<resultMap type="planDate" id="PlanDateResult">
		<result property="appDate" column="appdate" />
		<result property="exec" column="exec" />
		
		<result property="plan.pno" column="pno" />
		<result property="plan.title" column="title" />
	</resultMap>
	
	<insert id="insertPlan" useGeneratedKeys="true" keyProperty="pno">
		insert into plan (mno, title)
		values (#{member.mno}, #{title})
	</insert>
	
	<update id="updatePlan">
		update plan
		set title = #{title}
		where pno = #{pno}
	</update>
	
	<delete id="deletePlan">
		delete
		from plan
		where pno = #{pno}
	</delete>
	
	<select id="selectPlanByAll" resultMap="PlanResult">
		select *
		from plan as p
		where mno = #{mno}
	</select>
	
	<select id="selectPlanByPno" resultMap="PlanResult">
		select *
		from plan as p
		join member as m on m.mno = p.mno
		where pno = #{pno}
	</select>
	
	<insert id="insertPlanList">
		insert plan_list (pno, eno, setcnt, exec)
		values (#{plan.pno}, #{exercise.eno}, #{setcnt}, false)
	</insert>
	
	<delete id="deletePlanList">
		delete
		from planList
		where pno = #{pno} and eno = #{eno}
	</delete>
	
	<select id="selectByPno" resultMap="PlanListResult">
		select p.pno, p.mno, p.title, e.eno, e.name, e.link, pl.setcnt, pl.exec
		from plan_list as pl
		join plan as p on p.pno = pl.pno
		join exercise as e on e.eno = pl.eno
		where p.pno = #{pno}
	</select>
	
	<insert id="insertPlanDate">
		insert plan_date (pno, appdate, exec)
		values (#{plan.pno}, #{appDate}, false)
	</insert>
	
	<select id="selectPlanDateByAppDate" resultMap="PlanDateResult">
		select p.pno, p.mno, p.title, pd.appdate, pd.exec
		from plan as p
		join plan_date as pd on pd.pno = p.pno
		where pd.appdate = #{appDate};
	</select>
	
	<select id="selectPlanByAppDate" resultMap="PlanDateResult">
		select p.pno, p.title, pd.appdate, pd.exec
		from plan as p
		join plan_date as pd on pd.pno = p.pno
		where p.mno = #{mno} and pd.appdate = #{appDate};
	</select>
	
	<select id="selectPlanDateByMonth" resultMap="PlanDateResult">
		select pd.pno, pd.appdate, pd.exec, p.pno, p.mno, p.title
		from plan_date as pd
		join plan as p on p.pno = pd.pno
		where p.mno = #{mno} and pd.appdate between #{startDate} and #{endDate};
	</select>
	
</mapper>